.env
old_data/
old_data_transformed/
opendatasoft_2024/
silver/
bronze/
logs/
temp/*

.venv/
database/
abctl-v0.24.0-linux-amd64/
airflow.cfg
airflow.db
webserver_config.py
*.pyc
staging_weather_1_france_weather_2025-02-09.parquet
test_connection.py
dags/airbyte_test_dags.py
compose.yaml
__pycache__/
*.pyc
